* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #46adc7;
}

button {
    background-color: #fff;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 3px 10px;
}

button:hover {
    color: #46adc7;
    border-color: #46adc7;
}

.app {
    position: relative;
    display: inline-block;
    margin-left: 50px;
    min-width: 280px;
    margin: 0 auto;
    border: 2px solid lightgray;
    padding: 15px;
    top: 50px;   
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 20px;    
}

.bookmarks-wrapper {
    margin: 0;
    padding: 0;
}

.bookmarks {
    display: inline-block;
    margin-right: 20px;
}

.app-title {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
}

.form {
    margin: 0 0 10px 0;
}

.form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
}

.list-wrapper {
    display: flex;
    margin-bottom: 20px;       
}

.todo-status {
    float: right;
    min-width: 50px;
}

.list {
    width: 250px;
    min-height: 20px;
    border: 2px solid lightgrey; 
    margin-right: 10px;
    padding: 10px;
}

.list-title {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}

.task {    
    margin: 0 0 20px 0;
    border: 1px solid lightslategray;
    box-sizing: content-box !important;
}

.task:last-child {
    margin: 0;
}

.task button {
    float: right;
    height: 100%;
}

.task-wrapper {
    position: relative;    
    padding-left: 20px;
    margin-right: 5px;
}

.task-decoration {
    text-decoration: line-through;
}

.delete-task {
    position: absolute;
    background-color: #fff;
    border: none;
    left: 0;
    top: 0;
    width: 18px;
    height: 100%;
    cursor: pointer;      
}

.delete-task::before,
.delete-task::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 8px;       
    height: 12px;
    width: 1px;
    background-color: #282c37;
}

.delete-task:hover::before,
.delete-task:hover::after {
    background-color: #ff0000
}

.delete-task:before {
    transform: rotate(45deg);
}

.delete-task:after {
    transform: rotate(-45deg);
}

.comments-title {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.comments-list {
    border: 1px solid lightgray;
    margin-bottom: 20px;
    min-height: 100px;
    padding: 20px;
    max-width: 100%;
    list-style: none;
    text-align: justify;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-between;
}

/* authentication */

.registration-form__fields {
    margin-bottom: 20px;
}

.registration-form__fields .inputs {
    padding: 2px 5px;
}

.registration-form__fields label {
    display: inline-block;
    min-width: 26%;
    margin-right: 5px;
}

.registration-form__fields:first-child {
    margin-top: 30px;
}

.registration-form__title {
    text-align: center;
}

.auth-form-btn {
    float: right;
    cursor: pointer;
}
